.tm-twitter {
	&.style-1 {
		max-width: 900px;
		margin: 0 auto;
		.tweet {
			position: relative;
			padding-top: 50px;
			text-align: center;
			&:before {
				display: block;
				content: "\f099";
				font-size: 120px;
				line-height: 1;
				font-family: FontAwesome;
				margin-bottom: 10px;
			}
			.tweet-heading {
				font-size: 32px;
			}
			.tweet-text {
				font-size: 24px;
				margin-top: 40px;
			}
			+ .tweet {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #eeeeee;
				&:before {
					top: 13px;
				}
			}
		}
	}
	&.style-2 {
		.tweet {
			position: relative;
			padding-left: 50px;
			&:before {
				position: absolute;
				top: 3px;
				left: 0;
				content: "\f099";
				font-size: 40px;
				font-family: FontAwesome;
				line-height: 40px;
			}
			.tweet-date {
				font-size: 12px;
			}
			+ .tweet {
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #eeeeee;
				&:before {
					top: 13px;
				}
			}
		}
	}
}
