.tm-instagram {
	position: relative;
	text-align: center;
	background-color: #ffffff;
	padding-top: 50px;
	.heading {
		font-size: 32px;
		margin-bottom: 5px;
	}
	.username {
		margin-bottom: 40px;
		a {
			color: #878c9b;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			img {
				width: 100%;
			}
		}
	}
	.tm-instagram-pics {
		@extend %clearfix;
	}
	.item {
		position: relative;
		float: left;
		.item-info {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			color: #ffffff;
			text-align: center;
			transform: translate(0, -50%);
		}
		.overlay {
			@extend %transit;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			visibility: hidden;
			background: rgba(0, 0, 0, .5);
			opacity: 0;
			cursor: pointer;
		}
		&:hover {
			.overlay {
				visibility: visible;
				opacity: 1;
			}
		}
		.item-info {
			> li {
				position: relative;
				display: inline-block;
				padding-left: 20px;
				color: #ffffff;
				font-size: 14px;
				+ li {
					margin-left: 10px;
				}
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					font-family: FontAwesome;
				}
				&.likes {
					&:before {
						content: '\f08a';
					}
				}
				&.comments {
					&:before {
						content: '\f0e5';
					}
				}
			}
		}
	}
	.inner {
		position: relative;
	}
}
