.page-content {
	.widget {
		margin: 0 0 72px;
	}
	.widget-title,
	.widgettitle {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 7px;
		text-transform: uppercase;
		letter-spacing: 1.75px;
		font-weight: bold;
		font-size: 14px;
		display: inline-block;
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #dddddd;
			content: '';
		}
	}
}

.page-sidebar {
	.page-sidebar-content {
		padding-top: 100px;
	}
	.page-sidebar-inner {
		height: 100%;
	}
	.page-sidebar-content {
		height: 100%;
		background-color: #ffffff;
		&:after {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 1000px;
			background-color: #ffffff;
			content: '';
		}
	}
	&.page-sidebar-left {
		.page-sidebar-content {
			border-right: 1px solid #eeeeee;
			padding-right: 30px;
			&:after {
				right: calc(100% - 15px);
			}
		}
	}

	&.page-sidebar-right {
		.page-sidebar-content {
			border-left: 1px solid #eeeeee;
			padding-left: 30px;
			&:after {
				left: calc(100% - 15px);
			}
		}
	}
}

.wpb_widgetised_column {
	&.left {
		padding-right: 30px;
		.wpb_wrapper {
			padding-right: 30px;
			&:after {
				right: 0;
			}
		}
	}
	&.right {
		padding-left: 30px;
		.wpb_wrapper {
			padding-left: 30px;
			&:after {
				left: 0;
			}
		}
	}
	.wpb_wrapper {
		padding-top: 100px;
		max-width: 370px;
		width: 100%;
		position: relative;
		&:after {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 3000px;
			background-color: #ffffff;
			content: '';
			z-index: -1;
			height: 5000px;
		}
	}
}

@media (max-width: 1199px) {
	.wpb_widgetised_column {
		padding: 0 !important;
		.wpb_wrapper {
			padding: 50px 30px;
			background: #ffffff;
			max-width: 100%;
			&:after {
				display: none;
			}
		}
	}
}

.page-footer {
	.widget {
		margin-bottom: 30px;
	}
	.widget-title {
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	.widget_recent_entries,
	.widget_recent_comments,
	.widget_archive,
	.widget_categories,
	.widget_meta,
	.widget_product_categories,
	.widget_rss,
	.widget_pages,
	.widget_nav_menu,
	.insight-core-bmw {
		li {
			margin-bottom: 1px;
		}
	}
}

.widget_recent_entries,
.widget_recent_comments,
.widget_archive,
.widget_categories,
.widget_meta,
.widget_product_categories,
.widget_rss,
.widget_pages,
.widget_nav_menu,
.insight-core-bmw {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		@extend %transit;
		display: block;
		margin-bottom: 13px;
		list-style-type: none;
		.children {
			padding-top: 10px;
			padding-left: 15px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		font-size: inherit;
		font-family: inherit;
	}
}

.widget_recent_comments {
	.comment-author-link {
		position: relative;
		padding-left: 20px;
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			content: '\f0e5';
			font-family: FontAwesome;
			line-height: 0;
			transform: translate(0, -50%);
		}
	}
}

.widget_recent_entries {
	.post-date {
		display: block;
		font-size: 16px;
		color: #a9adb9;
	}
}

@include media-breakpoint-down(md) {
	.page-content {
		.widget {
			margin: 0 0 52px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-content {
		.widget {
			margin: 0 0 32px;
		}
	}
	.page-sidebar {
		margin-bottom: 50px;
		.page-sidebar-inner {
			.page-sidebar-content {
				border: 1px solid #eeeeee;
				padding-right: 30px;
				&:after {
					display: none;
				}
			}
		}
	}
	.single-post {
		.page-main-content {
			padding-bottom: 20px;
		}
	}
}
