.embed-responsive,
.video-player {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.overflow-visible {
	overflow: visible !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.embed-responsive-16by9,
.video-player {
	padding-bottom: 56.25%;
}

.instagram-media {
	max-width: 100% !important;
}

.left-text {
	text-align: left;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.line-height-0 {
	line-height: 0;
}

.font-size-inherit {
	font-size: inherit !important;
}

.zindex2 {
	z-index: 2 !important;
}
