.food-options-form h3,
.food-options-form h6,
.no-of-dishes h6,
.button,
.search-caption h4,
.place-order h3,
.place-order h4,
.place-order h6,
.place-order a,
.recipes .container > h4,
.recipes .container > h6,
.book-table .container > h4,
.app-download .container > h4,
.food-solutions .container > h4,
.everyday-events .container > h4,
.user-reviews .container > h4,
.contact-us .container > h4,
.recipes h1,
.recipes h1,
.book-table h1,
.book-table h2,
.book-table h3,
.book-table h4,
.book-table h5,
.book-table h6,
.book-table p,
.app-download h1,
.app-download h2,
.app-download h3,
.app-download h4,
.app-download h5,
.app-download h6,
.app-download p,
.food-solutions h1,
.food-solutions h2,
.food-solutions h3,
.food-solutions h4,
.food-solutions h5,
.food-solutions h6,
.food-solutions p,
.everyday-events h1,
.everyday-events h2,
.everyday-events h3,
.everyday-events h4,
.everyday-events h5,
.everyday-events h6,
.everyday-events p,
.user-reviews h1,
.user-reviews h2,
.user-reviews h3,
.user-reviews h4,
.user-reviews h5,
.user-reviews h6,
.user-reviews p,
.contact-us h1,
.contact-us h2,
.contact-us h3,
.contact-us h4,
.contact-us h5,
.contact-us h6,
.contact-us p,
.place-order .desc h4,
.place-order .desc span { font-family : Alice-Regular; }

.food-menus { font-family : Alice-Regular!important; }

#navigation-menu.nav-menu {
	width: 50%;
	float: left;
}

.dining-space-types figure { width: 50%!important; }